.gradle
.settings
.project
.classpath
.idea
.vscode
.DS_Store
.env
.bash_history
.python_history

**/generated/*
**/bin/*
**/build/*
**/out/*
**/obj/*
**/.cache/*
**/temp/*
**/logs/*

!/.idea/dictionaries/tvbe.xml
!**/async/bin/*

*.hprof

stack.yml
docker-compose.yml
*.iml
